[settings]
; comma-delimited list of feeds (should match conf/feeds/<feed>.cf)
feeds = feed1,feed2
; comma-delimited list of actions to perform: pull,sort,parse,push,post,purge,cache
actions = pull,sort,parse,post,purge
; temporary <dir>/ where all temp files will be stored
tempdir = temp/
; uncomment to enable debugging to stderr
;debug = True
; number of max_workers (1+: anything > 1 will use a thread for each feed listed above)
max_workers = 8

[odbc]
; ODBC databases used by ingestor (DSN should match odbc.ini [section])
;<database> = DSN=%s;UID=%s;PWD=%s

[post]
; list all tables and their post urls, also corresponds to the conf/tpl/<table|baseurl>.tpl
;TEST_Scores = http://servername/fullpath/TEST_Scores
; or the baseurl to which the table name will be appended (ending with /)
;baseurl = http://servername/fullpath/

[tables]
; list of tables used by ingestor and their fully-qualified dbo identifier
;TEST_Scores = WhichDB.dbo.temp_TEST_Scores

; list all table names in their own section, followed by their columns with their castings
;[TEST_Scores]
;char_key = VARCHAR(100)
;int_id = INT
