[merge]
group = xpath to key used to group files to merge
order = xpath to value (usually date/time stamp) used to determine order to merge

[static]
<static_key> = xpath/to/@attribute,xpath/to/@backup

[000]
_table = 3-part table name to insert this section into (much match [tables] in conf/ingestor.cf)
_root = root xpath to iterate this section
<column> = relative xpath to attribute from _root (multiple, should match [table] columns)

[001 static=slugvalue]
; similar to [000] above but only runs if static-var = slugified(value)
