[combine]
group = xpath to key used to group files to combine
order = xpath to value (usually date/time stamp) used to determine order to combine

[static]
<static_key> = xpath to static value

[000]
dsn = database dsn name in ingestor.cf to use
table = table to insert this section into
columns = comma-delimited list of columns to insert
<column> = xpath/to/@attribute,xpath/to/@backup

[001 static=value]
; similar to [000] above but only runs if static=value
