[settings]
name = Title Case Friendly Feed Name
site = http://feed.url.com
path = /url/path/to/feed
user = <username>
pass = <password>
list = regex pattern for file list to generate url-path for file retrieval
page = regex pattern for next page (if any) to generate url for file retrieval
classify = name of classifier (i.e. fixtures)
<classifier> = comma-delimited list of classifiers (i.e. fixtures = event-score,event-stats)
xpath = xpath/to/obtain/@classifier
fail = comma-delilmited list of failure patterns
last = ?last_modified=%Y%m%d-datestamp
last_default = # period ago (i.e. 1 day ago, 4 hours ago, etc)
max_workers = # of concurrent threads for processing this particular feed
